.container{
    max-width: 960px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: column; */
}

.nav{
    display: flex;
}

.header{
    display: flex;
}


label{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px 5px;
    width: 200px;
}

.pageContainer{
    width: max-content;
    margin-bottom: 20px;
    padding-top: 20px;
}

.title{
    font-size: 24px;
}

.btn{
    margin-top: 8px;
      color: #FFFFFF;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: #4D5AE5;
  border: 1px solid #4D5AE5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus{
       color: #ffffff;
    background-color: #404bbf;
    border: 1px solid #404bbf;}